images_crop/
Resultats_Test_v1/
Resultats_Test2_v1/
Resultats_Test3_v1/
Resultats_Test4_500img_v1/
Resultats_Test_v2/
Resultats_Test2_v2/
Resultats_Test3_v2/
Resultats_Test4_v2/
Resultats_Test5_v2/
Resultats_Test6_v2/
Resultats_Test7_v2/
Resultats_Test7_700img_v2/
Resultats_Test8_v2/
Resultats_Test8_img_v2/
Resultats_Test_v3/